@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
}
/* div {
  overflow: scroll;
  -ms-overflow-style: none;
} */

.app {
  font-family: "Gowun Dodum", sans-serif;
  transition: 500ms;
  background-color: #f0ebe3;
}

.apploading {
  background-color: #f0ebe3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
